.productsAndTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    padding: 10px 10px;
    border-radius: 5px;
}

.productsHolder{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subtitlesHolder{
    display: flex;
    justify-content: flex-start;
    width: 70%;
    margin: 5px auto;
}

.subtitlesHolder p{
    color: gray;
    max-width: 350px;
    width: 100%;
}

.oneProduct img{
    max-width: 120px;
    width: 100%;
}

.oneProduct{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    margin: 5px auto;
}

.oneProductDescribe{
    display: flex;
    align-items: center;
    max-width: 350px;
    width: 100%;
}

.productName{
    color: gray;
}

.totalCostHolder{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    max-height: 250px;
}

.totalNumbers{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    color: grey;
}

.totalNumbers p{
    color: gray;
}

.discountColor{
    color: red!important;
}

.closeIt{
    margin-left: auto;
    cursor: pointer;
    font-weight: bold;
}

.noItemsInCart{
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    color: gray;
}
