.productsAndTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    padding: 10px 10px;
    border-radius: 5px;
}

.productsHolder{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subtitlesHolder{
    display: flex;
    justify-content: flex-start;
    width: 70%;
    margin: 5px auto;
}

.subtitlesHolder p{
    color: gray;
    max-width: 350px;
    width: 100%;
}

.oneProduct img{
    max-width: 120px;
    width: 100%;
}

.oneProduct{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    margin: 5px auto;
    gap: 20px;
}

.oneProductDescribe{
    display: flex;
    align-items: center;
    max-width: 350px;
    width: 100%;
    gap: 10px;
}

.productName{
    color: gray;
}

.totalCostHolder{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.totalNumbers{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    color: grey;
}

.totalNumbers p{
    color: gray;
}

.discountColor{
    color: red!important;
}

.closeIt{
    margin-left: auto;
    cursor: pointer;
    font-weight: bold;
}

.noItemsInCart{
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    color: gray;
}

.blueButtonApply {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: 0;
    margin-top: 5px;
    max-width: 100px;
    width: 100%;
}

.itemPrice{
    max-width: 350px;
    width: 100%;
    text-align: left;
}
