.blogItem{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    background-color: white;
}

.blogItem img{
    width: 100%;
    object-fit: cover;
    max-height: 250px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.blogItem img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
    cursor: pointer;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    transition: transform .5s;
}

.blogItemText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 12px;
}

.blogItemText h2 {
    margin: 0;
}