.navbarHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    background-color: white;
}

.navigation {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 10px 0;
}

.logoAndStuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.logo {
    max-width: 90px;
    width: 100%;
    cursor: pointer;
}

.logoAndStuff a {
    color: gray;
    font-size: 16px;
    text-decoration: none;
    margin: 0;
}

.logoAndStuff a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.userIconAndCart {
    display: flex;
    justify-content: space-between;
    max-width: 130px;
    width: 100%;
}

.userIconAndCart img {
    max-width: 50px;
    width: 100%;
    cursor: pointer;
}

.itemsNumber{
    position: relative;
}

.itemsNumber span{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    font-weight: bold;
}